{% extends 'base.html.twig' %}

{% block header_content %}
    {% embed ":default:header.html.twig" %}
    {% endembed %}
{% endblock %}


{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker3.min.css') }}" /> #}
    {# <link rel="stylesheet" href="{{ asset('assets/css/datatables.min.css') }}" /> #}
{% endblock %}


{% block main_content %}

    <ul class="nav nav-tabs" id="nav">
      <li class="active"><a href="#" onclick="{ goTo('cvrf') }">CVRF</a></li>
      <li><a href="#" onclick="{ goTo('cve') }">CVE</a></li>
      <li><a href="#" onclick="{ goTo('oval') }">OVAL</a></li>
    </ul>

    <div id="rhsecurity"></div>
{% endblock %}


{% block javascripts %}
    {# <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables.min.js') }}"></script> #}

    <script src="{{ asset('assets/tags/rhcvrf.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/tags/rhcve.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/tags/rhoval.tag') }}" type="riot/tag"></script>

    <script type="text/javascript">

        var currentPage = null;

        function goTo(path) {
            if (currentPage) {
                currentPage.unmount(true);
            }

            $('#nav li a').click(function() {
                $('#nav li').removeClass('active');
                $(this).parent().addClass('active');
            });

            if (path === 'cve') {
                currentPage = riot.mount('div#rhsecurity', 'rhcve')[0];
            }
            else if (path === 'oval' ) {
                currentPage = riot.mount('div#rhsecurity', 'rhoval')[0];
            }
            else {
                currentPage = riot.mount('div#rhsecurity', 'rhcvrf')[0];
            }
        }
        route(goTo);
        route.start();
        route.exec();
    </script>
{% endblock %}
