{% extends 'base.html.twig' %}

{% block header_content %}
    {% embed ":default:header.html.twig" %}
    {% endembed %}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker3.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/datatables.min.css') }}" />
{% endblock %}


{% block main_content %}
{#     <div class="row">
        <div class="col-md-10">
            <h3 class="text-primary">RH Security - <span class="small">in RHEL security DB</span></h3>
        </div>
        <div class="col-md-2">
            <a href="{{ path('projmgt_project_edit_page', { 'id': data.pubid }) }}" class="btn btn-success btn-block"><i class="fa fa-edit"></i> Edit Project</a>
        </div>
    </div> #}
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" onclick="{ goTo('cvrf') }">CVRF</a></li>
      <li><a href="#" onclick="{ goTo('cve') }">CVE</a></li>
      <li><a href="#" onclick="{ goTo('oval') }">OVAL</a></li>
    </ul>

    <div id="rhsecurity"></div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables.min.js') }}"></script>

    <script src="{{ asset('assets/js/rhelsec/rhcvrf.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/rhelsec/rhcve.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/js/rhelsec/rhoval.tag') }}" type="riot/tag"></script>

    <script type="text/javascript">

        var currentPage = null;

        function goTo(path) {
            if (currentPage) {
                currentPage.unmount(true);
            }

            if (path === 'cve') {
                currentPage = riot.mount('div#rhsecurity', 'rhcve')[0];
            }
            else if (path === 'oval' ) {
                currentPage = riot.mount('div#rhsecurity', 'rhoval')[0];
            }
            else {
                currentPage = riot.mount('div#rhsecurity', 'rhcvrf')[0];
            }
        }
        riot.route(goTo);
        riot.route.exec();
    </script>
{% endblock %}
