{% extends 'base.html.twig' %}

{% block header_content %}
    {% embed ":default:header.html.twig" %}
    {% endembed %}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker3.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/datatables.min.css') }}" />
{% endblock %}


{% block main_content %}
    {# <div class="row"> #}
        <cvrf></cvrf>
    {# </div> #}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/datatables.min.js') }}"></script>

    <script src="{{ asset('assets/js/rhelsec/cve.tag') }}" type="riot/tag"></script>

    <script type="text/javascript">
        riot.mount('*');
    </script>
{% endblock %}
